.MenuItem
{
	cursor: pointer;
}

#u51091
{
	background-color: #343438;
}

#buttonu51149
{
	border-width: 0px;
	background-color: transparent;
	border-color: transparent;
}

#u51150
{
	background-color: transparent;
}

#u49895
{
	border-width: 0px;
	background-color: #3C3D42;
	border-color: transparent;
}

.menuSlideInScroll,.hvr-float
{
	border-width: 0px;
	background-color: transparent;
	border-color: #000000;
}

#u49902,#u49904,#u49906,#u49908
{
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	transition-delay: 0s;
	filter: alpha(opacity=50);
	-webkit-transition-timing-function: ease;
	opacity: 0.5;
	-webkit-transition-delay: 0s;
	background-image: url("../images/blank.gif");
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	transition-timing-function: ease;
}

#u49902:hover,#u49904:hover,#u49906:hover,#u49908:hover
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}

#u49896
{
	border-width: 0px;
	background-color: #343438;
	border-color: transparent;
}

#u49897-4
{
	border-width: 0px;
	color: #CCCCCC;
	font-weight: 400;
	background-color: transparent;
	font-size: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	border-color: transparent;
	line-height: 12px;
	letter-spacing: 1px;
}

@media (min-width: 1051px)
{
	#menuu51092
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u51094
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		background-color: transparent;
	}

	#u51096-4
	{
		border-width: 0px;
		background-color: transparent;
		color: #FFFFFF;
		line-height: 13px;
		font-size: 11px;
		letter-spacing: 1px;
		font-family: raleway, sans-serif;
		font-weight: 600;
	}

	#u51094:hover #u51096-4 p
	{
		color: #CCCCCC;
		visibility: inherit;
	}

	#u51138
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		background-color: transparent;
	}

	#u51140-4
	{
		border-width: 0px;
		background-color: transparent;
		color: #FFFFFF;
		line-height: 13px;
		font-size: 11px;
		letter-spacing: 1px;
		font-family: raleway, sans-serif;
		font-weight: 600;
	}

	#u51094.MuseMenuActive #u51096-4 p,#u51138:hover #u51140-4 p
	{
		color: #CCCCCC;
		visibility: inherit;
	}

	#u51131
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		background-color: transparent;
	}

	#u51132-4
	{
		border-width: 0px;
		background-color: transparent;
		color: #FFFFFF;
		line-height: 13px;
		font-size: 11px;
		letter-spacing: 1px;
		font-family: raleway, sans-serif;
		font-weight: 600;
	}

	#u51138.MuseMenuActive #u51140-4 p,#u51131:hover #u51132-4 p
	{
		color: #CCCCCC;
		visibility: inherit;
	}

	#u51122
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		background-color: transparent;
	}

	#u51123-4
	{
		border-width: 0px;
		background-color: transparent;
		color: #FFFFFF;
		line-height: 13px;
		font-size: 11px;
		letter-spacing: 1px;
		font-family: raleway, sans-serif;
		font-weight: 600;
	}

	#u51131.MuseMenuActive #u51132-4 p,#u51122:hover #u51123-4 p
	{
		color: #CCCCCC;
		visibility: inherit;
	}

	#u51115
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		background-color: transparent;
	}

	#u51116-4
	{
		border-width: 0px;
		background-color: transparent;
		color: #FFFFFF;
		line-height: 13px;
		font-size: 11px;
		letter-spacing: 1px;
		font-family: raleway, sans-serif;
		font-weight: 600;
	}

	#u51122.MuseMenuActive #u51123-4 p,#u51115:hover #u51116-4 p
	{
		color: #CCCCCC;
		visibility: inherit;
	}

	#u51145
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		background-color: transparent;
	}

	#u51147-4
	{
		border-width: 0px;
		background-color: transparent;
		color: #FFFFFF;
		line-height: 13px;
		font-size: 11px;
		letter-spacing: 1px;
		font-family: raleway, sans-serif;
		font-weight: 600;
	}

	#u51115.MuseMenuActive #u51116-4 p,#u51145:hover #u51147-4 p
	{
		color: #CCCCCC;
		visibility: inherit;
	}

	#u51103
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		background-color: transparent;
	}

	#u51105-4
	{
		border-width: 0px;
		background-color: transparent;
		color: #FFFFFF;
		line-height: 13px;
		font-size: 11px;
		letter-spacing: 1px;
		font-family: raleway, sans-serif;
		font-weight: 600;
	}

	#u51145.MuseMenuActive #u51147-4 p,#u51103:hover #u51105-4 p
	{
		color: #CCCCCC;
		visibility: inherit;
	}

	#u51093,#u51135,#u51128,#u51121,#u51114,#u51142,#u51100,#u51107
	{
		background-color: transparent;
	}

	#u51108
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		background-color: transparent;
	}

	#u51110-4
	{
		border-width: 0px;
		background-color: transparent;
		color: #FFFFFF;
		line-height: 13px;
		font-size: 11px;
		letter-spacing: 1px;
		font-family: raleway, sans-serif;
		font-weight: 600;
	}

	#u51103.MuseMenuActive #u51105-4 p,#u51108:hover #u51110-4 p
	{
		color: #CCCCCC;
		visibility: inherit;
	}

	#u51108.MuseMenuActive #u51110-4 p
	{
		color: #CCCCCC;
		visibility: inherit;
	}

}

@media (min-width: 801px) and (max-width: 1050px)
{
	#buttonu69945
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
	}

	#u69946
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#buttonu69945:hover #u69946
	{
		opacity: 0.6;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
	}

	#u69947
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#buttonu69945:hover #u69947
	{
		opacity: 0.6;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
	}

	#u69948
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#buttonu69945:hover #u69948
	{
		opacity: 0.6;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
	}

	#buttonu69950
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		background-color: #2A2A2D;
	}

	#u69951
	{
		background-color: transparent;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
	}

	#buttonu69945.ButtonSelected #u69946,#buttonu69945.ButtonSelected #u69947,#buttonu69945.ButtonSelected #u69948,#buttonu69950:hover #u69951
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#buttonu69950.ButtonSelected #u69951
	{
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
	}

	#u71171
	{
		display: block;
	}

	#u70011
	{
		background-color: #2A2A2D;
	}

	.menuSideSlideNavBG
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #1A1C1E;
	}

	.menuSideSlideNav-Btn,.menuSideSlideNavRight,.menuSideSlideNav-Close,.menuScrollBox,.menuScrollContent
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u69958
	{
		border-width: 0px;
	}

	#u69958:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69958.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	.menuSideSlideButton
	{
		border-color: transparent;
		background-color: #2D2E30;
		background-color: rgba(34,35,38,0.95);
		border-width: 1px 0px;
	}

	#u69960-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69993
	{
		border-width: 0px;
	}

	#u69993:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69993.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69994-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69986
	{
		border-width: 0px;
	}

	#u69986:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69986.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69989-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69970
	{
		border-width: 0px;
	}

	#u69970:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69970.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69973-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u70000
	{
		border-width: 0px;
	}

	#u70000:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u70000.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u70003-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u70007
	{
		border-width: 0px;
	}

	#u70007:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u70007.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u70009-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69963
	{
		border-width: 0px;
	}

	#u69963:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69963.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69964-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#menuu69954,#u69955,#u69990,#u69983,#u69969,#u69997,#u70004,#u69962,#u69976
	{
		background-color: transparent;
	}

	#u69979
	{
		border-width: 0px;
	}

	#u69979:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69979.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69981-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

}

@media (min-width: 641px) and (max-width: 800px)
{
	#buttonu69945
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
	}

	#u69946
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#buttonu69945:hover #u69946
	{
		opacity: 0.6;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
	}

	#u69947
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#buttonu69945:hover #u69947
	{
		opacity: 0.6;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
	}

	#u69948
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#buttonu69945:hover #u69948
	{
		opacity: 0.6;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
	}

	#buttonu69950
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		background-color: #2A2A2D;
	}

	#u69951
	{
		background-color: transparent;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
	}

	#buttonu69945.ButtonSelected #u69946,#buttonu69945.ButtonSelected #u69947,#buttonu69945.ButtonSelected #u69948,#buttonu69950:hover #u69951
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#buttonu69950.ButtonSelected #u69951
	{
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
	}

	#u71171
	{
		display: block;
	}

	#u70011
	{
		background-color: #2A2A2D;
	}

	.menuSideSlideNavBG
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #1A1C1E;
	}

	.menuSideSlideNav-Btn,.menuSideSlideNavRight,.menuSideSlideNav-Close,.menuScrollBox,.menuScrollContent
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u69958
	{
		border-width: 0px;
	}

	#u69958:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69958.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	.menuSideSlideButton
	{
		border-color: transparent;
		background-color: #2D2E30;
		background-color: rgba(34,35,38,0.95);
		border-width: 1px 0px;
	}

	#u69960-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69993
	{
		border-width: 0px;
	}

	#u69993:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69993.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69994-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69986
	{
		border-width: 0px;
	}

	#u69986:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69986.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69989-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69970
	{
		border-width: 0px;
	}

	#u69970:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69970.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69973-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u70000
	{
		border-width: 0px;
	}

	#u70000:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u70000.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u70003-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u70007
	{
		border-width: 0px;
	}

	#u70007:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u70007.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u70009-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69963
	{
		border-width: 0px;
	}

	#u69963:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69963.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69964-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#menuu69954,#u69955,#u69990,#u69983,#u69969,#u69997,#u70004,#u69962,#u69976
	{
		background-color: transparent;
	}

	#u69979
	{
		border-width: 0px;
	}

	#u69979:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69979.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69981-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

}

@media (min-width: 451px) and (max-width: 640px)
{
	#buttonu69945
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
	}

	#u69946
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#buttonu69945:hover #u69946
	{
		opacity: 0.6;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
	}

	#u69947
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#buttonu69945:hover #u69947
	{
		opacity: 0.6;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
	}

	#u69948
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#buttonu69945:hover #u69948
	{
		opacity: 0.6;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
	}

	#buttonu69950
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		background-color: #2A2A2D;
	}

	#u69951
	{
		background-color: transparent;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
	}

	#buttonu69945.ButtonSelected #u69946,#buttonu69945.ButtonSelected #u69947,#buttonu69945.ButtonSelected #u69948,#buttonu69950:hover #u69951
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#buttonu69950.ButtonSelected #u69951
	{
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
	}

	#u71171
	{
		display: block;
	}

	#u70011
	{
		background-color: #2A2A2D;
	}

	.menuSideSlideNavBG
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #1A1C1E;
	}

	.menuSideSlideNav-Btn,.menuSideSlideNavRight,.menuSideSlideNav-Close,.menuScrollBox,.menuScrollContent
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u69958
	{
		border-width: 0px;
	}

	#u69958:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69958.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	.menuSideSlideButton
	{
		border-color: transparent;
		background-color: #2D2E30;
		background-color: rgba(34,35,38,0.95);
		border-width: 1px 0px;
	}

	#u69960-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69993
	{
		border-width: 0px;
	}

	#u69993:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69993.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69994-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69986
	{
		border-width: 0px;
	}

	#u69986:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69986.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69989-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69970
	{
		border-width: 0px;
	}

	#u69970:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69970.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69973-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u70000
	{
		border-width: 0px;
	}

	#u70000:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u70000.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u70003-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u70007
	{
		border-width: 0px;
	}

	#u70007:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u70007.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u70009-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69963
	{
		border-width: 0px;
	}

	#u69963:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69963.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69964-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#menuu69954,#u69955,#u69990,#u69983,#u69969,#u69997,#u70004,#u69962,#u69976
	{
		background-color: transparent;
	}

	#u69979
	{
		border-width: 0px;
	}

	#u69979:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69979.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69981-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

}

@media (max-width: 450px)
{
	#buttonu69945
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
	}

	#u69946
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#buttonu69945:hover #u69946
	{
		opacity: 0.6;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
	}

	#u69947
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#buttonu69945:hover #u69947
	{
		opacity: 0.6;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
	}

	#u69948
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#buttonu69945:hover #u69948
	{
		opacity: 0.6;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
	}

	#buttonu69950
	{
		-webkit-transition-duration: 0.5s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.5s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background-image: url("../images/blank.gif");
		background-color: #2A2A2D;
	}

	#u69951
	{
		background-color: transparent;
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
		-webkit-transform: matrix(0,-1,1,0,0,20);
		-ms-transform: matrix(0,-1,1,0,0,20);
		transform: matrix(0,-1,1,0,0,20);
	}

	#buttonu69945.ButtonSelected #u69946,#buttonu69945.ButtonSelected #u69947,#buttonu69945.ButtonSelected #u69948,#buttonu69950:hover #u69951
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#buttonu69950.ButtonSelected #u69951
	{
		opacity: 0.7;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: alpha(opacity=70);
	}

	#u71171
	{
		display: block;
	}

	#u70011
	{
		background-color: #2A2A2D;
	}

	.menuSideSlideNavBG
	{
		border-width: 0px;
		border-color: #000000;
		background-color: #1A1C1E;
	}

	.menuSideSlideNav-Btn,.menuSideSlideNavRight,.menuSideSlideNav-Close,.menuScrollBox,.menuScrollContent
	{
		border-width: 0px;
		border-color: #000000;
		background-color: transparent;
	}

	#u69958
	{
		border-width: 0px;
	}

	#u69958:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69958.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	.menuSideSlideButton
	{
		border-color: transparent;
		background-color: #2D2E30;
		background-color: rgba(34,35,38,0.95);
		border-width: 1px 0px;
	}

	#u69960-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69993
	{
		border-width: 0px;
	}

	#u69993:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69993.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69994-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69986
	{
		border-width: 0px;
	}

	#u69986:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69986.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69989-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69970
	{
		border-width: 0px;
	}

	#u69970:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69970.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69973-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u70000
	{
		border-width: 0px;
	}

	#u70000:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u70000.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u70003-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u70007
	{
		border-width: 0px;
	}

	#u70007:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u70007.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u70009-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#u69963
	{
		border-width: 0px;
	}

	#u69963:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69963.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69964-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

	#menuu69954,#u69955,#u69990,#u69983,#u69969,#u69997,#u70004,#u69962,#u69976
	{
		background-color: transparent;
	}

	#u69979
	{
		border-width: 0px;
	}

	#u69979:hover
	{
		background-color: #434346;
		background-color: rgba(58,58,61,0.95);
		-pie-background: rgba(58,58,61,0.95);
	}

	#u69979.MuseMenuActive
	{
		background-color: #3D3D41;
		background-color: rgba(51,51,56,0.95);
		-pie-background: rgba(51,51,56,0.95);
	}

	#u69981-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		font-size: 10px;
		letter-spacing: 2px;
		color: #FFFFFF;
		line-height: 10px;
		text-align: right;
		font-family: raleway, sans-serif;
		font-weight: 300;
	}

}

